# Markdown Basics
* **Bold** 
* *Italic* 
* ***IB***
* *Normal Text*
 * sublist 1
 * sublist 2
 
 
>1. Ordered list element 1 
>2. Ordered list element 2

 I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
  `printf("hello markdown")`
  
  <http://google.com>
  
  <markdown@google.com>

[Jupyter Logo](logo.png)

![Jupyter Logo](logo.png)

<img src="logo.png" style="float:left">

# Python Basics

## Python Version 3.7

* *Scripting Language(line by line execution)*
* *Object Oriented*

In [14]:
# python comments

print("Good Afternoon", "!", end="|| ") # Basic Output
print("Hello Python")

Good Afternoon !|| Hello Python

### Assignment

In [23]:
n1 = 123456 # single variable Assignment

n2=n3=n4=n1 # Multi variable Assignment of the 


a,b,c=123,234,345 # Multi Variable Assignment with Different values


a
b
c

print(a,b,c)

123 234 345

### Arithmetic Operations

- +
- -
- *
- /
- %
- **

In [56]:
n1 % 11

n3=n2**12

type(n3)

len(str(n3))

atoms=10**82
len(str(atoms))
type(str(atoms))

122321**9

6130687873308026945890176790042303730066739281

###  Conditionals

In [62]:
if atoms < 10**9:
    print("TRUE")
else:
    print("FALSE")

FALSE

### Data  types and conversions

- int
- string
- float

In [55]:

type(a)
s1="python"
type(s1)

f1=12.345
type(f1)

float(str(int(f1)))

12.0

In [4]:
# Find greatest of 3 numbers

n1=int(input("entr the first number"))
n2=int(input("entr the second number"))
n3=int(input("enter the third number"))

if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

entr the first number2
entr the second number7
enter the third number9
9 is the greatest

In [18]:
# Check if a year is a Leap Year

n=int(input("enter year"))

if n%400==0 or (n%100!=0 and n%4==0):
    print("leap year")
else:
    print("not a leap year")

enter year1996
leap year

In [9]:
# Check if a number exists in a given range

n=int(input("enter no."))
lb=int(input("enter lb"))
ub=int(input("enter ub"))

if n>=lb and n<=ub:
    print("no. exists")
else:
    print("no. do not exists")

enter no.8
enter lb2
enter ub5
no. do not exists

In [12]:
#Check if  a number is multiple of 10

n=int(input("enter no."))

if(n%10==0):
    print("It is a multiple of 10")
else:
     print("It is not a multiple of 10")

enter no.4
It is not a multiple of 10

In [22]:
#Check if  a number is factor of 1000

n=int(input("enter no."))

if(1000%n==0):
    print("It is a factor of 10")
else:
     print("It is not a factor of 10")

enter no.2
It is a multiple of 10

In [17]:
# calculate the number of digits in a number


n=int(input("enter no."))
len(str(n))

enter no.12345

5

In [19]:
# check if a given string is equal to a number
s1="123456"
n1=123456
if str(n1)==s1:
    print(n1, "is equal to",s1)
else:
    print(n1, "is not equal to",s2)

123456 is equal to 123456

In [20]:
# Calculate the square root of a function with out any math function
n1=123
n1**0.5

11.090536506409418

In [21]:
#Calculate the nano seconds in a given year(considering leap year logic)

year=1234
if n%400==0 or (n%100!=0 and n%4==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31622400000000000